# IntelliJ project files
*.iml
.idea/

# Maven build output
target/

# Software installation directories
/downloads/
/logstash-*/
/elasticsearch-*/
/kibana-*/

# Data directories
/var/

# Logstash file database
.sincedb

# node.js modules
/node_modules/